<yandex>
  <listen_host>0.0.0.0</listen_host>
  <http_port>8123</http_port>
  <tcp_port>9000</tcp_port>
  <interserver_http_port>9009</interserver_http_port>
  <keep_alive_timeout>60</keep_alive_timeout>
  <default_session_timeout>60</default_session_timeout>
  <max_session_timeout>3600</max_session_timeout>
  <max_connections>4096</max_connections>
  <max_concurrent_queries>100</max_concurrent_queries>
  <uncompressed_cache_size>4294967296</uncompressed_cache_size>
  <mark_cache_size>2147483648</mark_cache_size>
  <path>/var/lib/clickhouse/</path>
  <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
  <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
  <users_config>users.xml</users_config>
  <default_profile>default</default_profile>
  <default_database>default</default_database>
  <dictionaries_config>*_dictionary.xml</dictionaries_config>
  <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
  <distributed_ddl>
    <path>/clickhouse/task_queue/ddl</path>
  </distributed_ddl>
  <resharding>
    <task_queue_path>/clickhouse/task_queue/reshard</task_queue_path>
  </resharding>
  <merge_tree>
    <cleanup_delay_period>1</cleanup_delay_period>
    <cleanup_delay_period_random_add>1</cleanup_delay_period_random_add>
    <max_part_removal_threads>2</max_part_removal_threads>
    <concurrent_part_removal_threshold>1</concurrent_part_removal_threshold>
  </merge_tree>
  <logger>
    <level>warning</level>
    <console>1</console>
  </logger>
  <max_partition_size_to_drop>0</max_partition_size_to_drop>
  <timezone>Universal</timezone>
</yandex>
